
# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Gradle
.gradle/
build/

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

# Custom
MagicBLE_v2.apk
MagicBLE_v3.apk
*.log
